<router-outlet></router-outlet>

<div class="card text-center">
    <div class="card-header">
        TALLER N°2 - GESTIÓN DE SEGURIDAD INFORMATICA
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      ENCRIPTAR
                    </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <form class="needs-validation" novalidate>
                                    <h3 style="text-align: center;">ENCRIPTACIÓN</h3>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>MENSAJE</label>
                                            <input class="form-control" placeholder="Ingresar mensaje a encriptar aquí..." [ngModel]="encriptacion.mensaje | uppercase" (ngModelChange)="encriptacion.mensaje=$event" name="mensaje" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label>SECUENCIA </label>
                                            <button class="btn btn-primary" (click)="btnc1_e()" style="margin: 4px;">C1</button>
                                            <button class="btn btn-danger" (click)="btnc2_e()">C2</button>
                                            <input class="form-control" placeholder="Ingresar secuencia aquí..." [ngModel]="encriptacion.secuencia | uppercase" (ngModelChange)="encriptacion.secuencia=$event" name="secuencia" type="text" disabled/>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>VALOR K1 PARA C1</label>
                                            <input type="number" min="1" max="26" class="form-control" placeholder="Ingresar valor K1..." name="valor_k1" [(ngModel)]="encriptacion.valor_k1" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>VALOR K2 PARA C2</label>
                                            <input type="number" min="1" max="26" class="form-control" placeholder="Ingresar valor K2..." name="valor_k2" [(ngModel)]="encriptacion.valor_k2" required>
                                        </div>
                                    </div>
                                    <div align="center">
                                        <button (click)="encriptar()" class="btn btn-success">GENERAR MENSAJE ENCRIPTADO</button>
                                    </div><br>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>RESULTADO MENSAJE ENCRIPTADO</label>
                                            <input class="form-control" [ngModel]="encriptacion.resultado | uppercase" (ngModelChange)="encriptacion.resultado=$event" name="resultado" type="text" disabled/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      DESENCRIPTAR
                    </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <form class="needs-validation" novalidate>
                                    <h3 style="text-align: center;">DESENCRIPTACIÓN</h3>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>MENSAJE</label>
                                            <input class="form-control" placeholder="Ingresar mensaje a desencriptar aquí..." [ngModel]="desencriptacion.mensaje | uppercase" (ngModelChange)="desencriptacion.mensaje=$event" name="mensaje2" type="text" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label>SECUENCIA </label>
                                            <button class="btn btn-primary" (click)="btnc1_d()" style="margin: 4px;">C1</button>
                                            <button class="btn btn-danger" (click)="btnc2_d()">C2</button>
                                            <input class="form-control" placeholder="Ingresar secuencia aquí..." [ngModel]="desencriptacion.secuencia | uppercase" (ngModelChange)="desencriptacion.secuencia=$event" name="secuencia2" type="text" disabled/>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>VALOR K1 PARA C1</label>
                                            <input type="number" min="1" max="26" class="form-control" placeholder="Ingresar valor K1..." name="valor_k12" [(ngModel)]="desencriptacion.valor_k1" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>VALOR K2 PARA C2</label>
                                            <input type="number" min="1" max="26" class="form-control" placeholder="Ingresar valor K2..." name="valor_k22" [(ngModel)]="desencriptacion.valor_k2" required>
                                        </div>
                                    </div>
                                    <div align="center">
                                        <button class="btn btn-success" (click)="desencriptar()">DESENCRIPTAR MENSAJE</button>
                                    </div><br>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>RESULTADO MENSAJE DESENCRIPTADO</label>
                                            <input class="form-control" [ngModel]="desencriptacion.resultado | uppercase" (ngModelChange)="desencriptacion.resultado=$event" name="resultado2" type="text" disabled/>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Grupo: Eduardo Caldera - Charlotte Soto
    </div>
</div>