<router-outlet></router-outlet>

<div class="card text-center">
    <div class="card-header">
        TALLER N°2 - GESTIÓN DE SEGURIDAD INFORMATICA
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-1">
            </div>
            <div class="col-10">
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      ENCRIPTAR
                    </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <form class="needs-validation" novalidate>
                                    <h3 style="text-align: center;">ENCRIPTACIÓN</h3>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>MENSAJE</label>
                                            <input type="text" class="form-control" placeholder="Ingresar mensaje a encriptar aquí..." [(ngModel)]="encriptacion.mensaje" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label>SECUENCIA</label>
                                            <input type="text" class="form-control" placeholder="Ingresar secuencia aquí..." required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>Valor K1</label>
                                            <input type="number" class="form-control" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>Valor K2</label>
                                            <input type="number" class="form-control" required>
                                        </div>
                                    </div>
                                    <div align="center">
                                        <button (click)="encriptar()" class="btn btn-primary">GENERAR MENSAJE ENCRIPTADO</button>
                                    </div><br>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>RESULTADO MENSAJE ENCRIPTADO</label>
                                            <input type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      DESENCRIPTAR
                    </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <form class="needs-validation" novalidate>
                                    <h3 style="text-align: center;">DESENCRIPTACIÓN</h3>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>MENSAJE</label>
                                            <input type="text" class="form-control" placeholder="Ingresar mensaje a desencriptar aquí..." required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-md-6 mb-3">
                                            <label>SECUENCIA</label>
                                            <input type="text" class="form-control" placeholder="Ingresar secuencia aquí..." required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>Valor K1</label>
                                            <input type="number" class="form-control" required>
                                        </div>
                                        <div class="col-md-3 mb-3">
                                            <label>Valor K2</label>
                                            <input type="number" class="form-control" required>
                                        </div>
                                    </div>
                                    <div align="center">
                                        <button class="btn btn-primary" (click)="desencriptar()">DESENCRIPTAR MENSAJE</button>
                                    </div><br>
                                    <div class="form-row">
                                        <div class="col-md-12 mb-3">
                                            <label>RESULTADO MENSAJE DESENCRIPTADO</label>
                                            <input type="text" class="form-control" disabled>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1">
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        Grupo: Eduardo Caldera - Charlotte Soto
    </div>
</div>